body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input {
  width: 300px;
  max-width: 100%;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

a.large-link {
font-size: 30px;
}

/* a.large-link:hover {
  font-size: 32px;
} */