body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.container {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input {
  width: 300px;
  max-width: 100%;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

a.large-link {
font-size: 30px;
}

table.table_products {
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 0 5px;
}

table tr.table_product {
  cursor: pointer;
}

td {
  background-color: rgb(200, 244, 206);
  padding: 10px;
}

tr:first-child td:first-child { border-top-left-radius: 10px; }
tr:first-child td:last-child { border-top-right-radius: 10px; }
tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; }

img.product {
  height: 100px;
}

img.product-big {
  height: 200px;
}