body {
  display: flex;
  justify-content: center;
  align-items: center;
}

body.homepage {
  height: 100vh
}

.container {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input {
  width: 300px;
  max-width: 100%;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

a.large-link {
  font-size: 20px;
}

.products-container {
  max-height: 550px;
  overflow-y: auto;
  padding: 10px;
}

.shopping-cart-btn {
  position: absolute;
  top: 20px;
  right: 240px;
}

.header {
  position: absolute;
  top: 10px;
  right: 10px;
}

.welcome-section {
  text-align: center;
  margin-top: 100px;
}

.search-bar {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}


table.table_items {
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 0 5px;
}

table tr.table_item {
  height: 60px;
  vertical-align: middle;
  padding: 10px;
  background-color: lightblue;
}

table tr.table_product {
  background-color: rgb(200, 244, 206);
  cursor: pointer;
}

table tr.sold_out {
  cursor: not-allowed;
}

table tr.edit_form td input {
  width: 100%;
  height: 30px; 
  box-sizing: border-box;
  padding: 10px;
}

td {
  /* background-color: rgb(200, 244, 206); */
  padding: 10px;
}

td.active {
  color: green;
}

td.inactive {
  color: red
}

td.sold_out {
  background-color: grey;
}

tr:first-child td:first-child { border-top-left-radius: 10px; }
tr:first-child td:last-child { border-top-right-radius: 10px; }
tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; }

img.product {
  height: 100px;
}

img.product-big {
  height: 200px;
}